@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ExtraBold";
  src: local("Gilroy-ExtraBold"), url(./fonts/Gilroy-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Gilroy-Bold"), url(./fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Gilroy-SemiBold"), url(./fonts/Gilroy-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Gilroy-Medium"), url(./fonts/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Gilroy-Regular"), url(./fonts/Gilroy-Regular.ttf) format("truetype");
}

body {
  font-family: "Regular", sans-serif;
}

.card-text {
  color: grey; /* Warna teks default */
}

.card-text:hover {
  color: white; /* Warna teks saat dihover */
}