@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ExtraBold";
  src: local("Gilroy-ExtraBold"),
    url(./fonts/Gilroy-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Gilroy-Bold"), url(./fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Gilroy-SemiBold"),
    url(./fonts/Gilroy-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Gilroy-Medium"), url(./fonts/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Gilroy-Regular"),
    url(./fonts/Gilroy-Regular.ttf) format("truetype");
}

body {
  font-family: "Regular", sans-serif;
}

.custom-checkbox {
  background-color: transparent;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
}

.custom-checkbox::before {
  content: "\2713";
  display: none;
  font-size: 14px;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox:checked::before {
  display: block;
}
